<div id="register-div" class="d-flex justify-content-center" style="margin-top: 2em">
  <div class="card">
    <div class="card-header">
      <div class="row header-content">
        <h5 class="header" style="color: #8855C4;margin-left: 12px">Reset Password</h5>
      </div>
    </div>
    <div class="card-body">
      <div class="alert-success alert"  style="text-align: center; " *ngIf="submitted">A reset password link has been sent <br>
        to your email address.
      </div>
      <form [formGroup]="resetPassword" (ngSubmit)="sendCode()">
        <div class="d-flex flex-column">
          <div class="vertical-space"></div>
          <div class="form-group">
            <div class="input-group-prepend">
              <span class="icon-register" style="color: #8855C4"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                                      height="25"
                                                                      fill="currentColor" class="bi bi-envelope-fill"
                                                                      viewBox="0 0 16 16">
  <path
    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg></span>
              <div class="col">
                <input type="mail" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="Enter your email address" formControlName="mail"
                       [ngClass]="{'invalid-input': resetPassword.controls.mail.invalid && (resetPassword.controls.mail.dirty || resetPassword.controls.mail.touched)}">
                <div
                  *ngIf="resetPassword.controls['mail'].invalid && (resetPassword.controls['mail'].dirty || resetPassword.controls['mail'].touched)"
                  class="alert-div">
                  <div *ngIf="resetPassword.controls['mail'].errors.required">
                    Mail is required
                  </div>
                  <div *ngIf="resetPassword.controls['mail'].errors.email">
                    Mail must be a valid mail address
                  </div>
                  <div *ngIf="resetPassword.controls['mail'].errors.mailExists">
                    No such wingman found
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 1em">
          <button href="#" class="btn btn-outline-light" type="submit"
                  style="background-color: #8855C4">SEND
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
