<div id="register-div" class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="alert-success alert" *ngIf="valid">Password is updated successfully</div>
      <div class="alert-danger alert" *ngIf="password">New password can't be old password</div>
      <form [formGroup]="resetPw" (ngSubmit)="changePassword()">
        <div class="d-flex flex-column">
          <div class="vertical-space"></div>
          <div class="form-group">
            <div class="input-group-prepend">
              <span class="icon-register" style="color: #8855C4"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                                      height="25"
                                                                      fill="currentColor" class="bi bi-key-fill"
                                                                      viewBox="0 0 16 16">
  <path
    d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></span>
              <div class="col">
                <input type="password" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="New Password"  formControlName="newPassword"
                       [ngClass]="{'invalid-input': resetPw.controls.newPassword.invalid && (resetPw.controls.newPassword.dirty || resetPw.controls.newPassword.touched)}">
                <div
                  *ngIf="resetPw.controls['newPassword'].invalid && (resetPw.controls['newPassword'].dirty || resetPw.controls['newPassword'].touched)"
                  class="alert-div">
                  <div *ngIf="resetPw.controls['newPassword'].errors.required">
                    Password is required
                  </div>
                  <div *ngIf="resetPw.controls['newPassword'].errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group-prepend">
              <span class="icon-register" style="color: #8855C4"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                                                                      height="25"
                                                                      fill="currentColor" class="bi bi-key-fill"
                                                                      viewBox="0 0 16 16">
  <path
    d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></span>
              <div class="col">
                <input type="password" class="form-control" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       placeholder="Repeat New Password" formControlName="repeatPassword"
                       [ngClass]="{'invalid-input': resetPw.controls.repeatPassword.invalid && (resetPw.controls.repeatPassword.dirty || resetPw.controls.repeatPassword.touched)}">
                <div
                  *ngIf="resetPw.controls['repeatPassword'].invalid && (resetPw.controls['repeatPassword'].dirty || resetPw.controls['repeatPassword'].touched)"
                  class="alert-div">
                  <div *ngIf="resetPw.controls['repeatPassword'].errors.required">
                    Repeat Password is required
                  </div>
                  <div *ngIf="resetPw.controls['repeatPassword'].errors.mustMatch">
                    Passwords don't match
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button href="#" class="btn btn-outline-light" type="submit"
                  value="upload"
                  style="background-color: #8855C4">Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
