<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>

<div id="pet-div" class="d-flex justify-content-center">
  <div class="card w-auto">
    <div class="card-header">
      <div class="row header-content">
        <h5 class="dog-header" style="color: #8855C4" *ngIf="petType === 'dog'">Create Doge Profile</h5>
        <h5 class="dog-header" style="color: #8855C4" *ngIf="petType === 'cat'">Create Cat Profile</h5>
      </div>
    </div>
    <div class="card-body" *ngIf="petType === 'dog'">
      <form [formGroup]="registerPet" (ngSubmit)="registerThisPet()">
        <div class="row">
          <div class="col">
            <div class="input-group input-group-sm mb-3">
              <div class="col">
                <div class="form-group">
                  <div class="input-group-prepend">
              <span class="icon-pet-awesome"><fa-icon [icon]="faDog" class="fa"
                                                           style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's name" [(ngModel)]="pet.pname" formControlName="name"
                             [ngClass]="{'invalid-input': registerPet.controls.name.invalid && (registerPet.controls.name.dirty || registerPet.controls.name.touched)}"/>
                      <div
                        *ngIf="registerPet.controls['name'].invalid && (registerPet.controls['name'].dirty || registerPet.controls['name'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['name'].errors.required">
                          Name is required
                        </div>
                        <div *ngIf="registerPet.controls['name'].errors.pattern">
                          Name can't include numbers
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faPaw" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control"
                              [(ngModel)]="pet.pbreed"
                              formControlName="breed"
                              [ngClass]="{'invalid-input': registerPet.controls.breed.invalid && (registerPet.controls.breed.dirty || registerPet.controls.breed.touched)}">
                        <option [disabled]="breed_item === 'Doge\'s breed'" *ngFor="let breed_item of breed_dog_values">
                          {{breed_item}}
                        </option>
                      </select>
                      <div
                        *ngIf="registerPet.controls['breed'].invalid && (registerPet.controls['breed'].dirty || registerPet.controls['breed'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['breed'].errors.required">
                          Breed is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faVenusMars" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control"
                              required="required"
                              [(ngModel)]="pet.pgender"
                              formControlName="gender"
                              [ngClass]="{'invalid-input': registerPet.controls.gender.invalid && (registerPet.controls.gender.dirty || registerPet.controls.gender.touched)}">
                        <option disabled selected value="undefined">Doge's gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                      </select>
                      <div
                        *ngIf="registerPet.controls['gender'].invalid && (registerPet.controls['gender'].dirty || registerPet.controls['gender'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['gender'].errors.required">
                          Gender is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group input-group">
                <span class="icon-pet-awesome"><fa-icon [icon]="faBirthdayCake" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                  <div class="col">
                    <div class="input-group">
                      <input class="form-control" placeholder="YYYY-MM-DD"
                             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                             formControlName="birthday" readonly
                             [ngClass]="{'invalid-input': registerPet.controls.birthday.invalid && (registerPet.controls.birthday.dirty || registerPet.controls.birthday.touched)}">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <fa-icon [icon]="faCalendar"></fa-icon>
                        </button>
                      </div>
                    </div>
                    <div
                      *ngIf="registerPet.controls['birthday'].invalid && (registerPet.controls['birthday'].dirty || registerPet.controls['birthday'].touched)"
                      class="alert-div">
                      <div *ngIf="registerPet.controls['birthday'].errors.required">
                        Birthday is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faQuestionCircle" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                              [(ngModel)]="pet.pisbred" formControlName="isBred"
                              [ngClass]="{'invalid-input': registerPet.controls.isBred.invalid && (registerPet.controls.isBred.dirty || registerPet.controls.isBred.touched)}">
                        <option disabled selected value="undefined">Did Doge breed before?</option>
                        <option value=true>
                          Yes
                        </option>
                        <option value=false>
                          No
                        </option>
                      </select>
                        <div
                          *ngIf="registerPet.controls['isBred'].invalid && (registerPet.controls['isBred'].dirty || registerPet.controls['isBred'].touched)"
                          class="alert-div">
                          <div *ngIf="registerPet.controls['isBred'].errors.required">
                            Breeding information is required
                          </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faPalette" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's color" [(ngModel)]="pet.pcolor" formControlName="color"
                             [ngClass]="{'invalid-input': registerPet.controls.color.invalid && (registerPet.controls.color.dirty || registerPet.controls.color.touched)}">
                      <div
                        *ngIf="registerPet.controls['color'].invalid && (registerPet.controls['color'].dirty || registerPet.controls['color'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['color'].errors.maxlength">
                          Color is too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faStar" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's tricks" [(ngModel)]="pet.ptrick" formControlName="tricks"
                             [ngClass]="{'invalid-input': registerPet.controls.tricks.invalid && (registerPet.controls.tricks.dirty || registerPet.controls.tricks.touched)}">
                      <div
                        *ngIf="registerPet.controls['tricks'].invalid && (registerPet.controls['tricks'].dirty || registerPet.controls['tricks'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['tricks'].errors.maxlength">
                          Tricks are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faHeart" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's favorites" [(ngModel)]="pet.pfav" formControlName="favs"
                             [ngClass]="{'invalid-input': registerPet.controls.favs.invalid && (registerPet.controls.favs.dirty || registerPet.controls.favs.touched)}">
                      <div
                        *ngIf="registerPet.controls['favs'].invalid && (registerPet.controls['favs'].dirty || registerPet.controls['favs'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['favs'].errors.maxlength">
                          Favorites are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faHeartBroken" class="fa"
                                                             style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's dislikes" [(ngModel)]="pet.pdislike" formControlName="dislikes"
                             [ngClass]="{'invalid-input': registerPet.controls.dislikes.invalid && (registerPet.controls.dislikes.dirty || registerPet.controls.dislikes.touched)}">
                      <div
                        *ngIf="registerPet.controls['dislikes'].invalid && (registerPet.controls['dislikes'].dirty || registerPet.controls['dislikes'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['dislikes'].errors.maxlength">
                          Dislikes are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="input-group input-group-sm mb-3">
              <div class="col">
                <h5 class="letter-text">Doge's Letter</h5>
                <div class="form-group">
                  <div class="input-group-prepend">
                    <div class="col">
                      <textarea type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Doge's charming biography" [(ngModel)]="pet.pletter" formControlName="letter"
                                [ngClass]="{'invalid-input': registerPet.controls.letter.invalid && (registerPet.controls.letter.dirty || registerPet.controls.letter.touched)}"></textarea>
                      <div
                        *ngIf="registerPet.controls['letter'].invalid && (registerPet.controls['letter'].dirty || registerPet.controls['letter'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['letter'].errors.maxlength">
                          Letter is too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="submitted" class="alert-success alert">Doge profile created successfully
            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-light register-btn" type="submit" style="background-color: #8855C4"
                    [attr.disabled]="submitted ? 'disabled' : null">
              ADD DOGE
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="card-body" *ngIf="petType === 'cat'">
      <form [formGroup]="registerPet" (ngSubmit)="registerThisPet()">
        <div class="row">
          <div class="col">
            <div class="input-group input-group-sm mb-3">
              <div class="col">
                <div class="form-group">
                  <div class="input-group-prepend">
              <span class="icon-pet-awesome"><fa-icon [icon]="faCat" class="fa"
                                                      style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Cat's name" [(ngModel)]="pet.pname" formControlName="name"
                             [ngClass]="{'invalid-input': registerPet.controls.name.invalid && (registerPet.controls.name.dirty || registerPet.controls.name.touched)}"/>
                      <div
                        *ngIf="registerPet.controls['name'].invalid && (registerPet.controls['name'].dirty || registerPet.controls['name'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['name'].errors.required">
                          Name is required
                        </div>
                        <div *ngIf="registerPet.controls['name'].errors.pattern">
                          Name can't include numbers
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faPaw" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control"
                              [(ngModel)]="pet.pbreed"
                              formControlName="breed"
                              [ngClass]="{'invalid-input': registerPet.controls.breed.invalid && (registerPet.controls.breed.dirty || registerPet.controls.breed.touched)}">
                        <option [disabled]="breed_item === 'Cat\'s breed'" *ngFor="let breed_item of breed_cat_values">
                          {{breed_item}}
                        </option>
                      </select>
                      <div
                        *ngIf="registerPet.controls['breed'].invalid && (registerPet.controls['breed'].dirty || registerPet.controls['breed'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['breed'].errors.required">
                          Breed is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faVenusMars" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control"
                              required="required"
                              [(ngModel)]="pet.pgender"
                              formControlName="gender"
                              [ngClass]="{'invalid-input': registerPet.controls.gender.invalid && (registerPet.controls.gender.dirty || registerPet.controls.gender.touched)}">
                        <option disabled selected value="undefined">Cat's gender</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                      </select>
                      <div
                        *ngIf="registerPet.controls['gender'].invalid && (registerPet.controls['gender'].dirty || registerPet.controls['gender'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['gender'].errors.required">
                          Gender is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group input-group">
                <span class="icon-pet-awesome"><fa-icon [icon]="faBirthdayCake" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                  <div class="col">
                    <div class="input-group">
                      <input class="form-control" placeholder="YYYY-MM-DD"
                             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                             formControlName="birthday" readonly
                             [ngClass]="{'invalid-input': registerPet.controls.birthday.invalid && (registerPet.controls.birthday.dirty || registerPet.controls.birthday.touched)}">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                          <fa-icon [icon]="faCalendar"></fa-icon>
                        </button>
                      </div>
                    </div>
                    <div
                      *ngIf="registerPet.controls['birthday'].invalid && (registerPet.controls['birthday'].dirty || registerPet.controls['birthday'].touched)"
                      class="alert-div">
                      <div *ngIf="registerPet.controls['birthday'].errors.required">
                        Birthday is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faQuestionCircle" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                              [(ngModel)]="pet.pisbred" formControlName="isBred"
                              [ngClass]="{'invalid-input': registerPet.controls.isBred.invalid && (registerPet.controls.isBred.dirty || registerPet.controls.isBred.touched)}">
                        <option disabled selected value="undefined">Did Cat breed before?</option>
                        <option value=true>
                          Yes
                        </option>
                        <option value=false>
                          No
                        </option>
                      </select>
                      <div
                        *ngIf="registerPet.controls['isBred'].invalid && (registerPet.controls['isBred'].dirty || registerPet.controls['isBred'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['isBred'].errors.required">
                          Breeding information is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faPalette" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Cat's color" [(ngModel)]="pet.pcolor" formControlName="color"
                             [ngClass]="{'invalid-input': registerPet.controls.color.invalid && (registerPet.controls.color.dirty || registerPet.controls.color.touched)}">
                      <div
                        *ngIf="registerPet.controls['color'].invalid && (registerPet.controls['color'].dirty || registerPet.controls['color'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['color'].errors.maxlength">
                          Color is too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faStar" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Cat's tricks" [(ngModel)]="pet.ptrick" formControlName="tricks"
                             [ngClass]="{'invalid-input': registerPet.controls.tricks.invalid && (registerPet.controls.tricks.dirty || registerPet.controls.tricks.touched)}">
                      <div
                        *ngIf="registerPet.controls['tricks'].invalid && (registerPet.controls['tricks'].dirty || registerPet.controls['tricks'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['tricks'].errors.maxlength">
                          Tricks are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faHeart" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Cat's favorites" [(ngModel)]="pet.pfav" formControlName="favs"
                             [ngClass]="{'invalid-input': registerPet.controls.favs.invalid && (registerPet.controls.favs.dirty || registerPet.controls.favs.touched)}">
                      <div
                        *ngIf="registerPet.controls['favs'].invalid && (registerPet.controls['favs'].dirty || registerPet.controls['favs'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['favs'].errors.maxlength">
                          Favorites are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group-prepend">
                <span class="icon-pet-awesome"><fa-icon [icon]="faHeartBroken" class="fa"
                                                        style="color: #8855C4"></fa-icon></span>
                    <div class="col">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                             placeholder="Cat's dislikes" [(ngModel)]="pet.pdislike" formControlName="dislikes"
                             [ngClass]="{'invalid-input': registerPet.controls.dislikes.invalid && (registerPet.controls.dislikes.dirty || registerPet.controls.dislikes.touched)}">
                      <div
                        *ngIf="registerPet.controls['dislikes'].invalid && (registerPet.controls['dislikes'].dirty || registerPet.controls['dislikes'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['dislikes'].errors.maxlength">
                          Dislikes are too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="input-group input-group-sm mb-3">
              <div class="col">
                <h5 class="letter-text">Cat's Letter</h5>
                <div class="form-group">
                  <div class="input-group-prepend">
                    <div class="col">
                      <textarea type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                placeholder="Cat's charming biography" [(ngModel)]="pet.pletter" formControlName="letter"
                                [ngClass]="{'invalid-input': registerPet.controls.letter.invalid && (registerPet.controls.letter.dirty || registerPet.controls.letter.touched)}"></textarea>
                      <div
                        *ngIf="registerPet.controls['letter'].invalid && (registerPet.controls['letter'].dirty || registerPet.controls['letter'].touched)"
                        class="alert-div">
                        <div *ngIf="registerPet.controls['letter'].errors.maxlength">
                          Letter is too long
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="submitted" class="alert-success alert">Cat profile created successfully
            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-light register-btn" type="submit" style="background-color: #8855C4"
                    [attr.disabled]="submitted ? 'disabled' : null">
              ADD CAT
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
